@value colors: '../../../../style.css';
@value grey-light from colors;

.Close {
  color: grey-light;
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
  user-select: none;
  transition: color 0.2s ease;
}

.Close:hover {
  color: #fff;
}
