.Toolbar {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

@media (max-width: 999px) {
  .DesktopOnly {
    display: none;
  }
}
