@value colors: "../../../../style.css";
@value grey-dark, grey-light from colors;

.NavigationItem {
  display: block;
  margin-right: 20px;
  text-transform: uppercase;
  color: grey-light;
  letter-spacing: 2px;
  user-select: none;
  transition: color 0.2s ease-out;
}

.NavigationItem:hover {
  cursor: pointer;
  color: #fff;
}

.NavigationItemInDropdown {
  display: block;
  color: grey-light;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  transition: color 0.2s ease-out;
}

.NavigationItemInDropdown:hover {
  cursor: pointer;
  color: #fff;
}

.DarkTextColor {
  color: grey-dark;
  transition: color 0.2s ease-out;
}

.DarkTextColor:hover {
  color: #000;
}
