.NavigationItem {
  display: block;
  margin-right: 20px;
  text-transform: uppercase;
  color: rgb(206, 206, 206);
  letter-spacing: 2px;
}

.NavigationItemInDropdown {
  display: block;
  margin-right: 20px;
  color: rgb(206, 206, 206);
  letter-spacing: 2px;
  text-align: center;
  display: flex;
}
