@value colors: '../../../../style.css';
@value grey-light from colors;
.Container {
  font-size: 1rem;
  color: grey-light;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
}

.Social {
  padding: 30px;
  list-style-type: none;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  max-width: 100px;
  width: 100%;
}

.Social li {
  display: flex;
}

.Social li:hover {
  color: #fff;
  cursor: pointer;
}

.Link {
  display: flex;
  transition: color .3s ease;
  padding: 0 10px;
}

.Link a {
  color: rgb(219, 219, 219);
}

.Link a:hover {
  color: #fff;
  cursor: pointer;
}