@value colors: '../../style.css';
@value white-dark from colors;
@value black from colors;
@value grey-dark from colors;
.BlogSlider {
  background-color: rgb(245, 245, 245);
  color: black;
  height: 100%;
  width: 100%;
  padding-bottom: 1px;
}

.Container {
  margin: 0 10px;
  padding-top: 50px;
  text-align: center;
}

.Heading {
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: normal;
}

.Paragraph {
  display: inline-block;
  padding-top: 20px;
  color: grey-dark;
  margin-bottom: 30px;
  line-height: 24px;
  max-width: 740px;
}

@media (min-width: 1000px) {
  .Heading {
    font-size: 2.65rem;
  }
}