@value colors: '../../style.css';
@value black from colors;

.Testimonials {
}

.CarouselItem {
  outline: none;
  cursor: pointer;
  max-width: 715px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.Quote {
  color: #fff;
  font-size: 1.5rem;
  line-height: 36px;
}

.Author {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.Testimonials :global(.slick-dots) {
  position: absolute;
  bottom: 25px;
}

.Testimonials :global(.slick-dots li.slick-active button:before) {
  color: #fff;
}

.Testimonials :global(.slick-dots li button:before) {
  color: #fff;
}

.Testimonials :global(.slick-slide) {
  min-height: 500px;
  background: black;
  text-align: center;
  color: #fff;
  display: table !important;
}

.Testimonials :global(.slick-slide div) {
  display: table-cell;
  vertical-align: middle;
}
