.HamburgerContainer {
  position: relative;
  width: 30px;
  height: 100%;
  padding: 10px 0;
  margin-right: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-flow: column;
  z-index: 9999;
}

.Hamburger {
  height: 30px;
  flex-flow: column;
  justify-content: center;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.Hamburger div {
  width: 90%;
  height: 2px;
  margin: 3px;
  background: rgb(30, 30, 30);
}

.Close {
  color: rgb(216, 216, 216);
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
  user-select: none;
}

@media (min-width: 1000px) {
  .Hamburger {
    display: none;
  }
}
