.Dropdown {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* background: url('../../../assets/simon-fitall-530083-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* z-index: 1; */
}

.Close {
  display: none;
  opacity: 0;
}

.Open {
  opacity: 1;
  display: block;
}
